body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

/* Active users */
ul#active-users {
  list-style: none;
  margin: 1em 0 1em 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}
ul#active-users li {
  line-height: 1em;
}
ul#active-users li::before {
  content: "\2022";
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 0.6em;
  font-size: 2em;
  transform: translateY(3px);
}

/* Message form */
#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

/* Messages */
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #fff;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}
#messages > li.connected {
  background: #28a745;
  color: #fff;
}
#messages > li.disconnected {
  background: #dc3545;
  color: #fff;
}
